<div class="wrapper">
  <mat-card class="login-wrapper">
    <h2>Login</h2>
    <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-label>Username</mat-label>
      <mat-form-field appearance="outline">
        <input matInput formControlName="username" placeholder="" />
      </mat-form-field>

      <mat-label>Password</mat-label>
      <mat-form-field appearance="outline">
        <input
          matInput
          formControlName="password"
          placeholder=""
          [type]="showPassword ? 'text' : 'password'"
        />
      </mat-form-field>

      <div>
        <button mat-flat-button color="primary" type="submit">Login</button>
      </div>
    </form>
  </mat-card>
</div>
